@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #9c9990;
  --background-start: #2c2b2b;
  --background-end: #171614;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    var(--background-start),
    var(--background-end)
  );
  height: 100dvh;
  width: 100dvw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
